:root {
  --color-brand-normal: #819b57;
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
  --color-secondary-dark: #a28268;
}

/* Base */
* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0px;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* Button */
.button {
  color: var(--color-primary-light);
  font-weight: 600;
  border-radius: 0.5rem;
  border: 2px solid var(--color-brand-normal);
  background: var(--color-brand-normal);
  cursor: pointer;
  padding: 16px 32px;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Link */

.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-normal);
  font-weight: 600;
}

/* Header */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */
.hero-section {
  padding: 272px 0px;
  background-image: url('../images/hero-section-background.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.hero-title {
  margin-bottom: 0px;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Advangates-section */

.advantages-section {
  padding: 16px 150px;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-item {
  font-size: 20px;
  font-weight: 300;
  color: var(--color-primary-light);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.section-title.centred {
  text-align: center;
}

/* Traditions section */

.traditions-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.traditions-contant {
  max-width: 710px;
}

.traditions-section {
  padding-top: 96px;
}

.tratidiongs-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  color: var(--color-brand-dark);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

.traditions-text.limited {
  max-width: 340px;
}

/* Chefs section */

.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.chefs-title::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
}

.chef-photo {
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark);
  border-radius: 4px 4px 4px 200px;
}

.chef-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 40px;
}

.chefs-title {
  max-width: 520px;
  margin-bottom: 80px;
  margin: 0 auto 80px;
}

/* Formats section */

.formats-list {
  display: flex;
  gap: 20px;
}

.format-card {
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
  padding: 24px;
  border-radius: 16px;
  height: 444px;
  border: 1px solid lightgrey;
  /* background-image: url(../images/Walrus-format.jpg); */
}

.format-title {
  font-weight: 600;
  font-size: 24px;
}

.formats-title {
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contact section */

.contact-title {
  margin-bottom: 16px;
}

/* Footer */
.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-link:hover {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-brand-dark);
}

.address-copyright {
  font-size: 14px;
}

.footer {
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
